#mainHeading{
    color: whitesmoke;
    background-color: purple;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 10px 10px 10px black;
    box-shadow: 10px 10px 10px black;
    border: 10px solid lightseagreen;
    border-radius: 40px;
}

#IPLTeams{
    background-color: lightgrey;
}


img{
    width: 200px;
    height: 200px;
}

.CSKPlayers{
    background-color: coral;
    border-radius: 20px;
}

.SRHPlayers{
    background-color: blueviolet;
    border-radius: 20px;
}


.MIPlayers{
    background-color: darkcyan;
    border-radius: 20px;
}

.RCBPlayers{
    background-color: forestgreen;
    border-radius: 20px;
}



#mahendrasinghDhoni{
    width: 200px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;
}


#patCummins{
    width: 200px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;
}


#rohitSharma{
    width: 200px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;
}


#viratKohli{
    width: 200px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px black;
}

.Desc{
    display: inline-block;
    width: 1030px;
    height: 300px;
    overflow: auto;
    text-align: justify;
}


/* #cskDesc{
    display: inline-block;
    width: 1030px;
    height: 300px;
    overflow: auto;
    text-align: justify;
} */

/* #sunDesc{
    display: inline-block;
    width: 1030px;
    height: 300px;
    overflow: auto;
    text-align: justify;
} */

/* #miDesc{
    display: inline-block;
    width: 1030px;
    height: 300px;
    overflow: auto;
    text-align: justify;
} */

/* #rcbDesc{
    display: inline-block;
    width: 1030px;
    height: 300px;
    overflow: auto;
    text-align: justify;
} */
